<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <h5>This is the name page</h5>
    <p>Welcome to
        <%= title %>
    </p>
    <% data.forEach(function(data){ %>
        <div>
            <%= data.name %>
                <img src="<%= data.image %>">
        </div>

        <%})%>
</body>

</html>